
.bg-body{
    background-color: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
}

.container-specs{
    background-color: #445e7c;
    border-radius: 3px;
    margin: 0 auto;
    width: 90%;
}

.title{
    font-weight: 500;  
}

.table-specs{
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    width: 100%;
}

thead{
    border-bottom: 2px solid rgb(221, 220, 220);
    color: #445e7c;
    font-size: 14px;
    font-weight: 100;
    text-transform: capitalize;
}

tbody{
    font-size: 13px;
    width: 100%;
}

.modal-title-specs{
    font-size: 18px;
    font-weight: bold;
}

.label-textspecs{
    font-size: 14px;
    font-weight: bold;
}

::-webkit-input-placeholder { 
    font-size: 13px;
    color: #8699ad;
  }

input{
    width: 350px;
    height: 35px;
}

/* .form-group-input {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

 .form-group-input input {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}  */

/* .form-group-input i {
    position: absolute;
    right: 15px;
    top: 10px;
    visibility: hidden;
}

.form-group-input.success input {
    border-color: #2ecc71;
}

.form-group-input.error input {
    border-color: #e74c3c;
}

.form-group-input.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible; 
}

.form-group-input.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-group-input small{
    position: absolute;
    visibility: hidden;
}

.form-group-input.error small{
    color: #e74c3c;
    visibility: visible;
} */

footer{
    background-color: #3c536d;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.footer-specs{
    color: #9eb2c8;
    font-size: 10px;
}



/****** RESPONSIVE TABLE CONTENT ********/

/* XSmall devices (landscape phones, 544px and down) */
@media (max-width: 544px) {  
    tbody {font-size:0.5rem;} /* = 8px*/
  }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  tbody {font-size:0.6rem;} /* = 10px*/
}
 
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
  tbody {font-size:0.7rem;} /* = 11px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  tbody {font-size:0.9rem;} /* = 14px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  tbody {font-size:0.9rem;} /* = 14px*/    
}





/****** RESPONSIVE TITLE HEADER ********/

/* XSmall devices (landscape phones, 544px and down) */
@media (max-width: 544px) {  
    .title {font-size:1.0625rem;} /* = 17px*/
  }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .title {font-size:1.25rem;} /* = 20px*/
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .title {font-size:1.4375rem;} /* = 23px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .title {font-size:1.5625rem;} /* = 25px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .title {font-size:1.5625rem;} /* = 25px*/    
}



/****** RESPONSIVE ADD USER BUTTON ********/

/* XSmall devices (landscape phones, 544px and down) */
@media (max-width: 544px) {  
    #btn-add {font-size:0.4rem;} 
  }

  /* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    #btn-add {font-size:1rem;} 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    #btn-add {font-size:1rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #btn-add {font-size:1rem;} 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    #btn-add {font-size:1rem;}  
}
